<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>basic</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body style="background-color:black;">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">R world</a>
    </div>


  </div>
</nav>


<div class="row">
    <div class="col-sm-6"><br> <br><br>
    <center>
        <h1 style="color:white;">Welcome to chatzone</h1>
        <h3 style="color:white;">Meet new people around the world </h3>
    </center>

    </div>
    <div class="col-md-6"><br><br>
        <div class="row">
            <div class="col-md-3"><p></p>></div>
            <div class="col-md-6" style="background-color:white;padding:40px;">
                <form method="post" action="upload/">
                {% csrf_token %}
                <div class="form-group">
                    <label>{{ form.base.label_tag }}</label><br>
                    {{ form.base }}
                </div>
                <div class="form-group">
                    <label>{{ form.target.label_tag }}</label><br>
                    {{ form.target }}
                </div>
                <div class="form-group">
                    <label>{{ form.date.label_tag }}</label><br>
                    {{ form.date }}
                </div>
                     <div class="form-group">
                    <label>{{ form.maxdays.label_tag }}</label><br>
                    {{ form.maxdays }}
                </div>
                    {{ comment }}
                <button type="submit" class="btn btn-success btn-block">Submit</button>
                </form>
            </div>
            <div class="col-md-3"><p><</p></div>

        </div>
    </div>
</div>
</body>
</html>