<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>basic</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body style="background-color:black;">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">R world</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="/"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="/chat/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>


<div class="row">
    <div class="col-sm-6"><br> <br><br>
    <center>
        <h1 style="color:white;">Welcome to chatzone</h1>
        <h3 style="color:white;">Meet new people around the world </h3>
    </center>

    </div>
    <div class="col-md-6"><br><br>
        <div class="row">
            <div class="col-md-3"><p></p>></div>
            <div class="col-md-6" style="background-color:white;padding:40px;">
                <form method="post" action="upload/">
                {% csrf_token %}
                <div class="form-group">
                    <label>{{ form.name.label_tag }}</label><br>
                    {{ form.name }}
                </div>
                <div class="form-group">
                    <label>{{ form.email.label_tag }}</label><br>
                    {{ form.email }}
                </div>
                <div class="form-group">
                    <label>{{ form.password.label_tag }}</label><br>
                    {{ form.password }}
                </div>
                    {{ comment }}
                <button type="submit" class="btn btn-success btn-block">Submit</button>
                </form>
            </div>
            <div class="col-md-3"><p><</p></div>

        </div>
    </div>
</div>
</body>
</html>