<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <style>

        .login {
	width: 25%;
	height: 70%;
	background-color: white;
    border:1px solid  	#BEBEBE;
	position: absolute
	top:0;
	bottom: 0;
	left: 0;
	right: 0;

	margin: auto;
}
    </style>

</head>
<body style="background-color: 	#F5F5F5">
<br><br>
<center><div style="font-size:65px">R</div></center>

<center><h3>Sign In to Chat App</h3></center>
<div class="login">
                <form method="post" action="/login_verify/" style="padding:5%;">

                {% csrf_token %}
                <div class="form-group" >
                        <label >Email address </label><br>
                    <div style="width:100%"> {{ form.email }}</div>
                </div>
                <div class="form-group">
                    <label>{{ form.password.label_tag }}</label><br>
                    {{ form.password }}
                </div>
                {{ comment }}
                <button type="submit" class="btn btn-success btn-block">Submit</button>

                </form>
</div>
    <br>
    <div class="login" style="padding:1%;">

        New to chatapp? <a href="/">Create an account.</a>
        </div>



<!--<div class="row"><br> <br><br>-->

    <!--<div class="col-md-4"><p></p></div>-->

            <!--<div class="col-md-4" >-->
                <!--<h3>Sign In to Chat App</h3>-->
                <!--<br> <div style="border:1px solid black;width:70%;padding:5px;background-color:black;">-->
                <!--<form method="post" action="login_verify/" style="padding:50px;color:white;">-->

                <!--{% csrf_token %}-->
                <!--<div class="form-group">-->

                        <!--<label>{{ form.email.label_tag }}</label><br>-->
                    <!--{{ form.email }}-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label>{{ form.password.label_tag }}</label><br>-->
                    <!--{{ form.password }}-->
                <!--</div>-->

                <!--<button type="submit" class="btn btn-success">Submit</button>-->

                <!--</form> </div>-->
            <!--</div>-->

            <!--<div class="col-md-4"><p></p></div>-->
<!--</div>-->



</body>
</html>